.manage-order{
     display: grid;
     grid-template-columns: repeat(3,1fr);
}
.manage-title{
     text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;

}
@media (max-width: 767.98px) {
     .manage-order{
          display:grid;
          grid-template-columns: repeat(1,1fr);
     }
}
